/* Add mobile styles for the component here.  */
.information-header{
    color: black;
    font-size: 36;
    text-align: center;
    margin-top: 20px;
}

.information-bordered{
    margin-top: 20%;
}

.information-description{
    font-size: 15;
}

.information-next-button{
    background-color: lightgray;
    opacity: 0.9;
    font-size: 20;
    /*font-style: italic;*/
    border-radius: 50%;
    text-align: center;
    width: 20%;
    margin-bottom: 10;
    margin-right: 20;
}
