.character-select-button {
    align-self: center;
    background-color: black;
    width: 600px;
}

.player-choice{
    color: black;
    font-size: 36;
    text-align: center;
    margin-top: 20px;
}




