<!--The content below is only a placeholder and can be replaced.-->
<div id="base" class="">
    <!-- Unnamed (Rectangle) -->
    <div id="u6" class="ax_default box_1">
        <div id="u6_div" class=""></div>
        <div id="u6_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u7" class="ax_default heading_1">
        <div id="u7_div" class=""></div>
        <div id="u7_text" class="text ">
            <p><span>Children First</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u8" class="ax_default button">
        <div id="u8_div" class=""></div>
        <div id="u8_text" class="text ">
            <p><span>START</span></p>
        </div>
    </div>
</div>

